{% extends "calorie_tracker/layout.html" %}
{% load static %}
{% block content %}

<form id="add-product">
    <table>
        <tr>
            <td><input type="text" id="barcode" placeholder="barcode"></td>
        </tr>
        <tr>
            <td><input type="text" id="name" placeholder="name"></td>
        </tr>
        <tr>
            <td><input type="number" id="calories" placeholder="calories"></td>
        </tr>
        <tr>
            <td><input type="number" id="fats" placeholder="fats"></td>
        </tr>
        <tr>
            <td><input type="number" id="carbs" placeholder="carbs"></td>
        </tr>
        <tr>
            <td><input type="number" id="proteins" placeholder="proteins"></td>
        </tr>
        <tr>
            <td><input type="number" id="portion-size" placeholder="portion size"></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="Add product"></td>
        </tr>
    </table>
</form>

<script>const csrftoken = "{{ csrf_token }}"</script>
<script src="{% static 'calorie_tracker/add_product.js' %}"></script>
{% endblock %}

